@import "tailwindcss";

@font-face {
    font-family: "MontserratBlack";
    src: url('./assets/fuentes/Montserrat-Black.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("/assets/fuentes/Montserrat-Blold.ttf") format("truetype");
}


@font-face {
    font-family: "Montserrat-ExtraLight";
    src: url("/assets/fuentes/Montserrat-ExtraLight.ttf")format("truetype");
}


@font-face {
    font-family: "Montserrat-Medium";
    src: url("/assets/fuentes/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("/assets/fuentes/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("/assets/fuentes/Montserrat-SemiBold.ttf") format("truetype");
}

@theme{
--font-Montserrat-Black: "MontserratBlack";
--font-Montserrat-Bold: "Montserrat-Bold", "sans-serif";
--font-Montserrat-ExtraLight: "Montserrat-ExtraLight", "sans-serif";
--font-Montserrat-Medium: "Montserrat-Medium", "sans-serif";
--font-Montserrat-Regular: "Montserrat-Regular", "sans-serif";
--font-Montserrat-SemiBold: "Montserrat-SemiBold", "sans-serif";
}
